.wpforms-entries-table-wrapper {
	.wpforms-entries-table {
		width: 100%;
	}
	
	.wp-list-table {
		background-color: var(--background-color);
		color: var(--text-color);
		width: 100%;
		border-collapse: collapse;

		.column-id {
			width: 60px;
			text-align: right !important;
		}

		tr {
			background: var(--background-color);

			&:hover {
				background-color: var(--tab-hover-color);
			}
		}
		

		th, td {
			padding: 4px 8px;
			text-align: left;
			border-bottom: 1px solid var(--border-color);
		}
		
		th {
			padding: 8px;
			text-align: left;
			font-weight: 500;
			position: sticky;
			top: 0;
			background: var(--background-color);
			border-bottom: 1px solid var(--border-color);
			white-space: nowrap;
		}

		tfoot {
			display: none; 
		}
	}
}
