// Import all components.
@import './TabPanel.scss';
@import './UtilsList.scss';
@import './LogsTable.scss';
@import './ErrorLog.scss';
@import './EntriesTable.scss';
@import './FormPanel.scss';
@import './prettyPrintJson.scss';

// Global styles.
:root {
	// Light theme.
	--background-color: #ffffff;
	--surface-color: #f8f9fa;
	--border-color: #e1e4e8;
	--text-color: #24292e; 
	--tab-hover-color: #86868621;
	--accent-color: #1a73e8;
}

// Dark theme.
.dark-theme {
	--background-color: #1e1e1e;
	--surface-color: #252526;
	--border-color: #454545ad;
	--text-color: #d4d4d4e5;
	--tab-hover-color: #2a2d2e;
	--accent-color: #8ab4f8;
}
