// Logs Table styles
.logs-table {
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
  background-color: var(--surface-color);
  color: var(--text-color);

  table {
    width: 100%;
    border-collapse: collapse;
  }

  tfoot {
    display: none;
  }

  th {
    padding: 4px 8px;
    text-align: left;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
  }

  td {
    padding: 4px 8px;
    white-space: nowrap;
    border-bottom: 1px solid var(--border-color);

    .toggle-row {
      display: none;
    }
  }

  tr {
    height: 21px;

    &:hover {
      background-color: var(--tab-hover);
    }
  }

  // Стан завантаження
  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
