.utils-list {
	padding: 8px;

	& > &__items {
		display: flex;
		flex-wrap: wrap;

		& > .menu-item {
			width: 25%;
		}
	}

	&--empty {
		color: var(--text-color);
		font-style: italic;
		text-align: center;
		padding: 16px;
	}

	&__items {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		margin: 4px 0;
	}

	&__link {
		display: block;
		padding: 2px 8px;
		color: var(--text-color);
		text-decoration: none;
		border-radius: 4px;
		transition: background-color 0.2s;

		&:hover {
			background-color: var(--tab-hover-color);
		}
	}
}

.menu-item {
	margin: 0;
	position: relative;

	&__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 8px;
		color: var(--text-color);
		text-decoration: none;
		border-radius: 4px;
		transition: background-color 0.2s;
		cursor: pointer;

		&:hover {
			background-color: var(--tab-hover-color);
		}
	}

	&__content {
		display: flex;
		align-items: center;
		flex: 1;
	}

	&__checkbox {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		margin-right: 8px;
		font-size: 12px;
		color: var(--text-color);
		opacity: 0.3;

		&--checked {
			color: var(--accent-color);
			opacity: 1;
		}
	}

	&__text {
		flex: 1;
	}

	&__arrow {
		margin-left: 8px;
		font-size: 12px;
		transition: transform 0.2s;
	}

	&--open > &__link > &__arrow {
		transform: rotate(180deg);
	}

	&__submenu {
		list-style: none;
		padding: 0;
		margin: 2px 0 2px 16px;
	}

	// Анімація для підменю
	&__submenu {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.3s ease-out;
	}

	&--open > &__submenu {
		max-height: 1000px; // Достатньо велике значення для анімації
		transition: max-height 0.3s ease-in;
	}
}
